<script type="text/javascript">
$(function () {
$('#container3').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Top Journals'
            },
            subtitle: {
                text: 'Ordered by Publications. Coloring indicates Open Access availablity (DOAJ Journal).'
            },
            xAxis: {
                categories: [
	        	<%TOP_JSON["total"].each_with_index do |journal,index|%>
	        		<%if index == 20%>
	        			<%="'#{journal["title"].titleize}'".html_safe%>
	        			<%break;%>
	        		<%end%>
	        		<%="'#{journal["title"].titleize}'#{(index==TOP_JSON["total"].size-1 ? '': ',')}".html_safe%>
	        	<%end%>
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Publications'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                },
                series: {
	                cursor: 'pointer',
	                point: {
	                    events: {
	                        click: function() {
		                            $.colorbox({html:
		                            '<h1>'+
		                            '\"'+ this.category+'\"'+
		                            '</h1>'+
		                            '<h3 style="text-align: center;">'+
		                            'Publications: '+ this.y+''+
		                            '</h3>'+
		                            '<br></br>'+
		                            '<h3 style="text-align: center;">'+
		                            'Open Access: '+(this.color=='Orange' ? 'Yes' : 'No')+''+
		                            '</h3>',
		                            width: "50%"
		                            });
	                        }
	                    }
	                }
            	}
            },
            legend: {
            	enabled: false
            },
            exporting: {
                    enabled: false
            },
            rangeSelector: {
            	selected: 1
        	},
            series: [ //maybe add a journal and a oa journal series ?
            {
            	name: 'Publications',
            	color: 'orange',
            	data: [
            	<%TOP_JSON["total"].each_with_index do |journal,index|%>
            		{
            		color: "<%=(journal['oa'].downcase.eql?("yes") ? 'Orange' : 'Gray')%>",
            		y: <%=journal['count']%>
            		}
					<%if index == 20%>
						<%break%>
					<%end%>
					<%="#{(TOP_JSON["total"].size-1 == index ? '' : ',')}"%>
    			<%end%>
            	]
            }

            ]
        });
    }); // function
</script>