                <div id="page">
            	<div id="navigation">
                <ul class="ca-menu">
                    <li class="selected-menu">
                        <a href="javascript:showVisualization(0);">
                            <span class="ca-icon">A</span>
                            <div class="ca-content">
                                <h2 class="ca-main">Open Access Now</h2>
                                <h3 class="ca-sub">OA status in total</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:showVisualization(1);">
                            <span class="ca-icon">I</span>
                            <div class="ca-content">
                                <h2 class="ca-main">Universities</h2>
                                <h3 class="ca-sub">OA status by institution</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:showVisualization(2);">
                            <span class="ca-icon">C</span>
                            <div class="ca-content">
                                <h2 class="ca-main">Research areas</h2>
                                <h3 class="ca-sub">OA status by field</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:showVisualization(3);">
                            <span class="ca-icon">S</span>
                            <div class="ca-content">
                                <h2 class="ca-main">Top journals</h2>
                                <h3 class="ca-sub">OAA status by top journals</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:showVisualization(4);">
                            <span class="ca-icon">d</span>
                            <div class="ca-content">
                                <h2 class="ca-main">Boost your research</h2>
                                <h3 class="ca-sub">More about Open Access</h3>
                            </div>
                        </a>
                    </li>
                </ul>
        </div>
        <div id="content-wrapper">
        	<%= form_tag("menu", :id => "select-form", :remote => true) do |f|%>
        	<%= select_tag "content-selector", options_for_select(@menu_items), onchange: "updated(this, 'top');" %>
        	<%= select_tag "sub-selector-topic", options_for_select(TOP_JSON["topics"].keys()), onchange: "updatedSub(this);", :class => "sub-selector" %>
        	<%= select_tag "sub-selector-institution", options_for_select(TOP_JSON["institutions"].keys()), onchange: "updatedSub(this);", :class => "sub-selector" %>
        	<%= select_tag "content-selector-universities", options_for_select(@menu_items_universities), onchange: "updated(this, 'universities');" %>
        	<!--
        	<select name="select" id="content-selector" onchange="updated(this)">
				<option value="1" selected="selected">Journals</option>
				<option value="2">Topics</option>
				<option value="3">Institutions</option>
			</select>
			<select name="select" id="sub-selector-topic" class="sub-selector" onchange="updatedSub(this)">
				<option value="1" selected="selected">hum</option>
				<option value="2">med</option>
				<option value="3">sci</option>
				<option value="4">soc</option>
			</select>        -->
        	<%end%>
        	<div class="container-overlay">
        		<div class="overlay-header">TOTAL OPEN ACCESS 2011</div>
        		<div class="overlay-right">
        			Click to see the potential amount of Open Access
        		</div>
        		<div class="overlay-left">
        			Percentage of journal articles from 2011, published by authors from Danish universities, that is available for free download in either local depositories or in Open Access journals.
        			<p>
        				This includes all article versions (preprint, postprint and publisher’s version). Journals are defined as Open Access when listed at DOAJ.org
        			</p>
        		</div>
        	</div>
	        <div id="container0" class="visualization">
	        	<canvas id="canvas" height="600" width="800">Canvas not available.</canvas>
	        </div>
	        <div id="container1" class="visualization"></div>
	        <div id="container2" class="visualization"></div>
	        <div id="container3" class="visualization"></div>
	        <div id="container3-2" class="visualization"></div>
	        <div id="container3-3" class="visualization"></div>
	       	<div id="container4" class="visualization"></div>
	       	<div id="container5" class="visualization"></div>
        </div>

        </div> <!-- page end -->
        <script type="text/javascript">
        	$(document).ready(function(){
			  // show only container for the first slide when page is initially loaded.
			  //$('.selected-menu').css('background-color','#EEDD82');
			  $('.visualization').hide();
			  $('#container<%=(@selected_item.nil? ? 0 : @selected_item)%>').show();
			  $('.ca-menu li').click(function() {
			  	$('.ca-menu li').removeClass('selected-menu');
    		 	$(this).addClass('selected-menu');
			  });
			  
			});
			function showVisualization(index){
			  $('.visualization').hide();
			  $('.container-overlay').hide();
			  $('#content-selector').hide();
			  $('#content-selector-universities').hide();
			  $('.sub-selector').hide();
			  //$('#sub-selector-topic').hide();
			  $('#container'+index).show();
			  animationObject = {
				'endPercentage': 0.74,
				'currentPercentage': 0.0
				};
			  if(index==0){ // animate oa barometer
			  	$('.container-overlay').show();
			  	render();
			  	animate('currentPercentage', 0, 3000);
			  } else if(index == 1){
			  	$('#content-selector-universities').show();
			  } else if(index == 3){
			  	$('#content-selector').show();
			  	//$('.sub-selector').hide();
			  	var selectedName = $('#content-selector').find(":selected").text();
			  	var selectedValue = $('#content-selector').find(":selected").val();
			  	//alert(selectedValue + " " + selectedName);
			  	if(selectedValue == '<%=@menu_items[0]%>'){
			  		//$('#sub-selector-topic').hide();
			  		$('#container'+index).show();
			  		$('#container'+index+'-2').hide();
			  		$('#container'+index+'-3').hide();
			  	} else if(selectedValue == '<%=@menu_items[1]%>'){
			  		$('#sub-selector-topic').show();
			  		$('#container'+index).hide();
			  		$('#container'+index+'-2').show();
			  		$('#container'+index+'-3').hide();
			  	} else if(selectedValue == '<%=@menu_items[2]%>'){
			  		$('#sub-selector-institution').show();
			  		$('#container'+index).hide();
			  		$('#container'+index+'-2').hide();
			  		$('#container'+index+'-3').show();
			  	}
			  }
			  
			  
//			  $('.ca-menu li').removeClass('selected-menu');//.css('background-color','#fff');
			  // $('.ca-menu li').hover(function(){
			  	// $('.ca-menu li').css('background-color','#EEDD82');
			  // },function(){
			  	// $('.ca-menu li').css('background-color','#fff');
			  // });
	//		  $('.ca-menu li:eq('+index+')').addClass('selected-menu');//.css('background-color','#EEDD82');
			  
			}
			
			function updated(element, chart)
			{
				$('.sub-selector').hide();
			    var idx=element.selectedIndex;
			    var val=element.options[idx].value;
			    var content=element.options[idx].innerHTML;
			    
			    if(chart == 'top'){
				    //alert(val + " " + content);
				    if(val == '<%=@menu_items[0]%>'){
				    	//$('#sub-selector-topic').show();
				  		$('#container3').show();
				  		$('#container3-2').hide();
				  		$('#container3-3').hide();
				    } else if(val == '<%=@menu_items[1]%>'){
				  		$('#sub-selector-topic').show();
				  		$('#container3').hide();
				  		$('#container3-2').show();
				  		$('#container3-3').hide();
				  	} else if(val == '<%=@menu_items[2]%>'){
				  		$('#sub-selector-institution').show();
				  		$('#container3').hide();
				  		$('#container3-2').hide();
				  		$('#container3-3').show();
				  	}
			  	} else if(chart == 'universities'){
			  		// nothing special to do...
			  	}
			   	$('form#select-form').trigger('submit.rails');
			    			  
			}
			function updatedSub(element)
			{
			    // var idx=element.selectedIndex;
			    // var val=element.options[idx].value;
			    // var content=element.options[idx].innerHTML;
			    // alert(val + " " + content);
			    // if(val == 2){
			    	// //$('#sub-selector-topic').show();
			    // }
			    $('form#select-form').trigger('submit.rails');
			    //TODO: make this update visualization...!
			}
        </script>
        <%=render :partial => "barometer/oa_barometer_chart"%>
        <script type="text/javascript">
        	<%=render :partial => "barometer/drilldownchart"%> // container5
        	<%=render :partial => "barometer/reingold_tilford_tree"%> // container4
		</script>
		<%=render :partial => "barometer/universities_chart", locals: { scope: @selected_scope_universities }%> <!-- container1 -->
		<%=render :partial => "barometer/reasearch_area_chart"%> <!-- container2 -->
		<%=render :partial => "barometer/top_journal_chart"%> <!-- container3 -->
		<%=render :partial => "barometer/top_topic_chart", locals: { topic: @selected_topic }%> <!-- container3-2 -->
		<%=render :partial => "barometer/top_institution_chart", locals: { institution: @selected_institution } %> <!-- container3-3 -->		

